.login {
  display: grid;
  place-items: center;
  height: 100vh;
}

.login > div > img {
  object-fit: contain;
  height: 120px;
}
.login > div > .simage {
  height: 25px;
  margin-top: 30px;
}
.login > div {
  display: flex;
  flex-direction: column;
}
.login > button {
  width: 300px;
  background-color: #2e81f4;
  color: rgb(255, 255, 255);
  font-weight: 800;
}
.login > button:hover {
  background-color: lavender;
  color: #2e81f4;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
