.story {
  position: relative;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 120px;
  height: 200px;
  box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin-right: 10px;
  transition: transform 100ms ease-in;
  cursor: pointer;
}

.story:hover {
  transform: scale(1.07);
}
.story__avatar {
  border: 4px solid #2e81f4;
  margin: 10px;
}
.story > h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}
@media (max-width: 667px) {
  .story {
    width: 70px;
    height: 130px;
    margin-right: 10px;
  }
  .story > h4 {
    left: 10px;
    font-size: small;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  }
}
@media (min-width: 668px) and (max-width: 1092px) {
  .story {
    width: 100px;
    height: 180px;
    margin-right: 10px;
  }
  .story > h4 {
    left: 15px;
    font-size: medium;
    font-weight: 600;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.75);
  }
}
